@model RecipeFinder.Models.Recipe

@{
	ViewData["Title"] = "UpdateRecipe";
}

<h2>UpdateRecipe</h2>

<h4>Recipe</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="UpdateThisRecipe" method="POST">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="image" />
			<input type="hidden" asp-for="ingredients" />
			<input type="hidden" asp-for="source" />
			<input type="hidden" asp-for="url" />
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="label" class="control-label"></label>
				<input asp-for="label" class="form-control" />
				<span asp-validation-for="label" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="yield" class="control-label"></label>
				<input asp-for="yield" class="form-control" />
				<span asp-validation-for="yield" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="calories" class="control-label"></label>
				<input asp-for="calories" class="form-control" />
				<span asp-validation-for="calories" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="totalWeight" class="control-label"></label>
				<input asp-for="totalWeight" class="form-control" />
				<span asp-validation-for="totalWeight" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
